<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
    <style>
      svg {
        background: #ccc;
      }
    </style>
  </head>
  <body>
    <svg>
    </svg>
  </body>
</html>