.editor {
  width: 100%;
  height: 100vh;
  display: table;

  .controls {
    background: #eee;
    width: 100%;

    & > div {
      padding: 5px;
    }

    &.error {
      background: #f88;
    }
  }

  & > div {

    & > div {
      width: 50%;
    }

    .preview {
      width: 70%;
      height: 100%;
    }

    .input {
      vertical-align: top;
      border: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
      color: #fff;
      background: #005855;
      overflow-y: auto;

      .model {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #fff;
      }
    }

  }

}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}
