.editor {
  width: 100%;
  height: 100vh;
  display: table;

  .controls {
    background: #eee;
    width: 100%;

    & > div {
      padding: 5px;
    }

    &.error {
      background: #f88;
    }
  }

  & > div {
    display: table-row;

    & > div {
      display: table-cell;
      width: 50%;
    }

    .preview {
      width: 70%;
      height: 100%;
    }

    .input {
      border: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
      color: #fff;
      background: #005855;
    }

  }

}

