<div class="model {{ model.type }}">

  <button class="button remove" ng-click="remove(model)">x</button>
  <enum-input class="type" model="model" field="type" enum-values="typeNames"></enum-input>

  <enum-input class="name" model="model" field="name" enum-values="refNames"></enum-input>

  <array-input ng-if="model.dimensions" value="model.dimensions" label="'dimensions'"></array-input>
  <array-input ng-if="model.radii" value="model.radii" label="'radii'"></array-input>

  <model-input
    ng-if="model.parts"
    ng-repeat="(key, part) in model.parts track by $index"
    model="part">
  </model-input>

  <button
    class="button restore"
    ng-if="model._parts"
    ng-click="restore()">Restore</button>

  <button
    class="button add"
    ng-if="model.parts"
    ng-click="addPart()">+</button>

</div>
