<div class="model {{ model.type }}">

  <button class="button remove" ng-click="remove(model)">X</button>
  <enum-input class="type" model="model" field="type" enum-values="typeNames"></enum-input>
  <enum-input class="name" model="model" field="name" enum-values="refNames"></enum-input>

  <div ng-repeat="(field, value) in model">
    <array-input
      ng-if="isArrayField(field, value)"
      value="model[field]"
      label="field"></array-input>
  </div>

  <model-input
    ng-if="model.parts"
    ng-repeat="(key, part) in model.parts track by $index"
    model="part">
  </model-input>

  <button
    class="button restore"
    ng-if="model._parts"
    ng-click="restore()">Restore</button>

  <button
    class="button add"
    ng-if="model.parts"
    ng-click="addPart()">+</button>

</div>
