<div class="model {{ model.type }}">

  <enum-input class="type" value="model.type" enum-values="typeNames"></enum-input>
  <enum-input class="name" value="model.name" enum-values="refNames"></enum-input>
  <array-input ng-if="model.dimensions" value="model.dimensions" label="'dimensions'"></array-input>
  <array-input ng-if="model.radii" value="model.radii" label="'radii'"></array-input>

  <model-input
    ng-if="model.parts"
    ng-repeat="(key, part) in model.parts track by $index"
    model="part">
  </model-input>

  <button
    class="button add"
    ng-if="model.parts"
    ng-click="addPart()">+</button>

</div>
